h2{
    text-align: center;
    border: 2px solid tomato;
    color: dodgerblue;
}

/* link colors */

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }

  img {
    margin-left: 1.2cm;
    margin-top: 1.5cm;
    margin-right: 1.2cm;
    margin-bottom: 1.3cm;
  }

  img{
    width: 500;
    height: 600;
  }